<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
</head>
<body>
    <h1>User Management</h1>
    <h2>All Users</h2>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Date Joined</th>
            <th>Last Login</th>
            <th>User Type ID</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user['user_id'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['date_joined'] }}</td>
            <td>{{ user['last_login'] }}</td>
            <td>{{ user['user_type_id'] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
